@model IEnumerable<MANAGMENT.Models.Product>

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-sm-2 ml-5" style="border:double">
            <div class="card" style="width: 18rem;">
                <img src="~/@item.Image" class="card-img-top" alt="Card image cap" height="160" width="140">
                <div class="card-body">
                    <h5 class="card-title" style="color:yellow"><b>@item.DisplayName</b></h5>
                    <a href="@Url.Action("ViewDetails","Home",new { @id=item.ProductID})" class="btn btn-primary">ViewDetails</a>
                    <a href="~/home/ViewDetails?id=@item.ProductID&&email=<%Session(" Email")>
                </div>
            </div>
        </div>
    }









    @Html.ActionLink("Back to List", "Index", "Home")
</div>



<h2>Category</h2>

