@model IEnumerable<MANAGMENT.Models.Customer>
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<br />
<br />
<div class="jumbotron" style="background-color:lightskyblue">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
    </svg>
    <div class="table table-responsive">

        <table id="CustomerTable" class="table table-responsive-sm table-bordered table-hover">
            <thead>
                <tr>

                    <th>Customer Name</th>
                    <th>Age</th>
                    <th>Email Id</th>

                    <th>Action</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.CustomerName</td>
                    <td>@item.Age</td>
                    <td>@item.EmailID</td>
                    <td>
                        <i class="glyphicon glyphicon-eye-open" title="Click to View"></i> | <a href="/Admin/Edit/@item.CustomerID">
                            <i class="glyphicon glyphicon-edit" title="Click to Edit"> </i>
                        </a>|

                        <a href="/Admin/Deletecustomer/@item.CustomerID"> <i class="glyphicon glyphicon-trash" title="Click to Delete"></i></a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"
        integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
        crossorigin="anonymous"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>



<script>
    $('#CustomerTable').DataTable({
        "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
        "columns": [
            { "data": "Customer Name" },
            { "data": "Age" },
            { "data": "Email Id" },


            { "data": "Action", orderable: false }]
    });


</script>