@model IEnumerable<MANAGMENT.Models.Customer>
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<br />
<br />
<div class="jumbotron">
    <div class="table table-responsive">
      
        <table id="CustomerTable" class="table table-responsive-sm table-bordered table-hover">
            <thead>
                <tr>

                    <th>Customer Name</th>
                    <th>Age</th>
                    <th>Email Id</th>

                    <th>Action</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.CustomerName</td>
                    <td>@item.Age</td>
                    <td>@item.EmailID</td>
                    <td>
                        <i class="glyphicon glyphicon-eye-open" title="Click to View"></i> | <a href="/Admin/Edit/@item.CustomerID">
                            <i class="glyphicon glyphicon-edit" title="Click to Edit"> </i></a>|

                            <a href="/Admin/Deletecustomer/@item.CustomerID"> <i class="glyphicon glyphicon-trash" title="Click to Delete"></i></a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"
        integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
        crossorigin="anonymous"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>



<script>
    $('#CustomerTable').DataTable({
        "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
        "columns": [
            { "data": "Customer Name" },
            { "data": "Age" },
            { "data": "Email Id" },


            { "data": "Action", orderable: false }]
    });


</script>