
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
<br />
<br />
<img src="~/Images/administrator.jpg"  height="400" width="400"/>

<h1 style="color: blue">Managed by Administrator</h1>
