
@model IEnumerable<MANAGMENT.Models.Mobile>
@{
    //ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<br />
<br />
<div class="jumbotron">
    <div class="table table-responsive">
        <p>
            <a href="Create" class=" btn btn-primary">Add Product</a>
        </p>
        <table id="ProductTable" class="table table-responsive-sm table-bordered table-hover">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>price</th>
                    <th>Action</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td><img src="../@item.Image" height="50" /></td>*@
                    <td>@item.MobileName</td>


                    <td>@item.Brand</td>
                    <td>@item.Price</td>
                    <td>
                        <i class="glyphicon glyphicon-eye-open" title="Click to View"></i> |<a href="/Admin/Editproduct/@item.MobileID">
                            <i class="glyphicon glyphicon-edit" title="Click to Edit"> </i>|@*@Html.ActionLink("DELETE", "Delete", "Customer", new { @id = item.CustomerID })*@

                            <a href="/Admin/Delete/@item.MobileID"> <i class="glyphicon glyphicon-trash" title="Click to Delete"></i></a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"
        integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
        crossorigin="anonymous"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>



<script>
    $('#ProductTable').DataTable({
        "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
        "columns": [
            { "data": "Image", orderable: false  },
            { "data": "Product Name" },
            { "data": "Description" },
            { "data": "price" },


            { "data": "Action", orderable: false }]
    });


</script>