
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br />
Hi <h2>@ViewBag.UserName!... </h2>
<p>Registration completed please check your email for your login details</p>
Click to <a href="~/user/login">Login</a> your account
