
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br />
Hi <h2>@ViewBag.UserName!... </h2>
<p style="color:yellow">Registration completed please check your email for your login details</p>
Click to<h1> <a href="~/user/login" style="color:black"><b style="background-color:gray">Login</b></a></h1> your account
