<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title >Error</title>
</head>
<body>
    <hgroup>
        <h1 style="color:red"><b>""Error""</b>.</h1>
        <h2 style="color:red">An error occurred while processing your request.</h2>
        <img src="~/Images/Error.jpg" />
        <h2 style="color:red">if email is not verified  please check your email .</h2>

    </hgroup>
</body>
</html>
