<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title >Error</title>
</head>
<body>
    <hgroup>
        <h1 style="color:red">Error.</h1>
        <h2 style="color:red"> email is not verified please check your email and verify .</h2>
        
    </hgroup>
</body>
</html>
