@{
    ViewBag.Title = "About Us";
}
<h2 style="color:yellow" >@ViewBag.Title.</h2>
<h3 style="color:yellow">@ViewBag.Message</h3>

<p style="color:yellow">This application is used to buy a product On Online.Vast selection of components, accessories & more from top brands. Best Deals. Huge Selection. Easy & Fast Delivery. Great Offers. Top Brands. Low Prices.</p>
