@{
    ViewBag.Title = "Home Page";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 style="font-family:'Times New Roman', Times, serif"> <b style="text-align:center">Product ~Management </b></h1>
    @*<p class="lead">Online shopping cart</p>*@
    @*<p><a href="https://localhost:44386/Home/Index" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color:blue">    <b style="background-color:gray">Telephone History</b></h2>
        <p style="color:yellow">
            <b>Alexander Graham Bell</b> -- the man behind the telephone -- successfully made the first phone call in history.
            The call was to his assistant, Thomas Watson, who was sitting in the next room. Bell famously said
            through the phone, "Mr. Watson, come here, I want to see you.    "
        </p>
        <p style=" background-color:gray">><a class="btn btn-primary btn-lg" href="https://www.google.com/search?gs_ssp=eJzjYtfP1TfINjcwYPTiTi9KzEjMVUhKzckBAESLBpQ&q=graham+bell&rlz=1C1GCEU_enIN1000IN1000&oq=graha&aqs=chrome.1.69i57j46i67i433j0i67j46i67j46i67i131i433j69i61l2j69i64.4157j0j7&sourceid=chrome&ie=UTF-8">Learn more &raquo;</a></p>
    </div>     @*
              </div>
            <div class="col-md-4">
                <h2 style="color: blue"> <b style="background-color:gray">Get more References</b></h2>
                <p style="color:yellow">
                    They come in use for communicating through voice, messages, and mails. We can also surf the internet using a phone.
                    Most importantly, we also click photos and record videos through our
                    mobile's camera. The phones of this age are known as smartphones.
                </p>
                <p style=" background-color:gray"><a class="btn btn-primary btn-lg" href="https://www.91mobiles.com/upcoming-mobiles-in-india">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2 style="color: blue"> <b style="background-color:gray">Web Hosting</b></h2>
                <p style="color:yellow">
                    Smartphones in 2030 could have holographic display technologies which could render 3D images or videos
                    that would float above the
                    device and be viewed from any angle without the need to wear 3D glasses...........................................
                </p>
                <p style=" background-color:gray"><a class="btn btn-primary btn-lg" href="https://www.91mobiles.com/upcoming-mobiles-in-india">Learn more &raquo;</a></p>
            </div>
        </div>*@
